repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: \.dvc$
  - id: check-added-large-files
    args: [--maxkb=10240]      # 10MB limit
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: \.dvc$

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
  - id: markdownlint
    args: [--fix]
    files: \.(md|markdown)$
    language_version: system
